@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 
#00000B
#1F2833
#C5C6C7
#B34F6A
#82394D
 */

/* desktop */
@media screen and (min-width: 1024px) {

    h1 {
        margin: 0 0 10px 0;
    }

    h2 {
        margin: 0 0 10px 0;
    }

    h3 {
        margin: 0 0 10px 0;
    }

    h4 {
        margin: 0 0 10px 0;
    }

    h5 {
        margin: 0 0 10px 0;
    }

    h6 {
        margin: 0 0 10px 0;
    }

    p {
        margin: 0 0 10px 0;
    }

    .content-row {
        padding-bottom: 10%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    h1 {
        margin: 0 0 10px 0;
    }

    h2 {
        margin: 0 0 10px 0;
    }

    h3 {
        margin: 0 0 10px 0;
    }

    h4 {
        margin: 0 0 10px 0;
    }

    h5 {
        margin: 0 0 10px 0;
    }

    h6 {
        margin: 0 0 10px 0;
    }

    p {
        margin: 0 0 10px 0;
    }

    .content-row {
        padding-bottom: 10%;
    }
}

  /* mobile */
@media screen and (max-width: 767px) {

    h1 {
        margin: 0 0 10px 0;
    }

    h2 {
        margin: 0 0 10px 0;
    }

    h3 {
        margin: 0 0 10px 0;
    }

    h4 {
        margin: 0 0 10px 0;
    }

    h5 {
        margin: 0 0 10px 0;
    }

    h6 {
        margin: 0 0 10px 0;
    }

    p {
        margin: 0 0 10px 0;
    }

    .content-row {
        padding-bottom: 5%;
    }

}

:root {
    --primary-1: #1c1c27;
    --primary-2: #1F2833;
    --secondary-1: #DE3388;
    --secondary-2: #BC3388;
    --tertiary-1: #fff;
    --tertiary-2: #C5C6C7;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: var(--primary-1);;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: var(--secondary-1);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: var(--secondary-1);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--tertiary-1);
    font-weight: normal;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--tertiary-2);
    font-weight: normal;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--tertiary-2);
    font-weight: normal;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: var(--tertiary-1);
}

a:link {
    text-decoration: none;
    color: var(--secondary-1);
}

a:visited {
    text-decoration: none;
    color: var(--secondary-1);
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}

.primary-color-1 {
    background-color: var(--primary-1);
}

.primary-color-2 {
    background-color: var(--primary-2);
}

.secondary-color-1 {
    background-color: var(--secondary-1);
}

.secondary-color-2 {
    background-color: var(--secondary-2);
}

ul {
    margin: 0;
}

li {
    margin: 0;
}