<template>
  <div>
    <div class="content-row row">
      <div class="column">
        <h5>
          Hello! My name is
        </h5>
        <h1>
          Sanne Huismans
        </h1>
        <p class="description">
          I am an aspiring webdeveloper studying Informatica at <a href="https://www.avans.nl/studeren/opleidingen/informatica/voltijd">Avans Hogeschool</a>. Here is some more information about me.
        </p>
        <h4>
          Find me at
        </h4>
        <ul>
            <li>LinkedIn with icon</li>
            <li>Gitlab with icon</li>
            <li>Email with icon</li>
        </ul>
      </div>
      <div class="column">
        <img src="..\assets\images\placeholder.png" alt="Placeholder Profile Picture" class="profile-picture">
      </div>
    </div>

    <div class="content-row">
      <h3>
        About me
      </h3>

      <h2>
        Skills
      </h2>

      <div class="skill-row">
        <div class="skillset">
          <h4>
            Programming Languages
          </h4>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
          </ul>
        </div>

        <div class="skillset">
          <h4>
            Frameworks and libraries
          </h4>
          <ul>
            <li>Vue.js</li>
            <li>Angular.js</li>
            <li>Axios</li>
            <li>Node.js</li>
            <li>Express</li>
          </ul>
        </div>

        <div class="skillset">
          <h4>
            Miscellaneous
          </h4>
          <ul>
            <li>Git</li>
            <li>Scrum</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="content-row">
      <h2>
        Hobbies
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet mattis vulputate enim nulla. Sed tempus urna et pharetra pharetra. Donec massa sapien faucibus et. Arcu non sodales neque sodales ut etiam sit amet. Adipiscing elit ut aliquam purus sit. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Arcu felis bibendum ut tristique. Nunc sed augue lacus viverra vitae congue. Id volutpat lacus laoreet non. Pellentesque nec nam aliquam sem et tortor. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Vel orci porta non pulvinar neque laoreet suspendisse interdum. Eu augue ut lectus arcu. Turpis egestas maecenas pharetra convallis posuere. At consectetur lorem donec massa sapien faucibus et molestie. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Vel fringilla est ullamcorper eget nulla facilisi. Eu lobortis elementum nibh tellus molestie nunc non blandit massa. Eget velit aliquet sagittis id.
        Risus feugiat in ante metus dictum at. Nibh cras pulvinar mattis nunc sed. Et netus et malesuada fames ac. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Faucibus interdum posuere lorem ipsum dolor sit amet. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Fames ac turpis egestas sed tempus urna et pharetra. Donec enim diam vulputate ut pharetra sit amet aliquam. Adipiscing tristique risus nec feugiat in. In aliquam sem fringilla ut. Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Ut placerat orci nulla pellentesque dignissim enim. Enim tortor at auctor urna nunc. Pharetra vel turpis nunc eget lorem dolor sed. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Duis at consectetur lorem donec massa sapien faucibus et molestie. Malesuada fames ac turpis egestas. Eget velit aliquet sagittis id.
        Vel eros donec ac odio tempor orci dapibus ultrices in. Elit at imperdiet dui accumsan sit amet. Semper viverra nam libero justo laoreet sit. Velit scelerisque in dictum non consectetur a erat nam at. Sed vulputate odio ut enim. Sit amet mauris commodo quis imperdiet massa tincidunt nunc. Netus et malesuada fames ac turpis egestas integer eget aliquet. Id diam maecenas ultricies mi eget. Urna porttitor rhoncus dolor purus non enim praesent. Tellus mauris a diam maecenas sed enim ut. Pulvinar sapien et ligula ullamcorper. Cras tincidunt lobortis feugiat vivamus at. Viverra orci sagittis eu volutpat odio facilisis mauris. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Non tellus orci ac auctor augue mauris augue neque gravida.
        Turpis massa sed elementum tempus egestas sed. Adipiscing commodo elit at imperdiet dui. Pharetra sit amet aliquam id diam. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Auctor eu augue ut lectus arcu bibendum at varius vel. Erat pellentesque adipiscing commodo elit. Semper viverra nam libero justo. Nisi lacus sed viverra tellus in hac habitasse. Vulputate dignissim suspendisse in est. Eget est lorem ipsum dolor sit. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Porttitor eget dolor morbi non arcu risus quis. Nulla facilisi cras fermentum odio eu. Vulputate dignissim suspendisse in est ante in. Ut tristique et egestas quis ipsum suspendisse. Senectus et netus et malesuada. Tempus quam pellentesque nec nam aliquam sem et tortor.
        Sed elementum tempus egestas sed sed risus pretium quam vulputate. Ultrices neque ornare aenean euismod. Tincidunt lobortis feugiat vivamus at. Duis convallis convallis tellus id interdum velit. Eu lobortis elementum nibh tellus molestie nunc non. Turpis egestas sed tempus urna et pharetra pharetra massa. Consectetur libero id faucibus nisl tincidunt eget nullam non. Magna etiam tempor orci eu lobortis elementum nibh tellus. Gravida rutrum quisque non tellus orci. Eu volutpat odio facilisis mauris sit amet massa vitae tortor. Laoreet non curabitur gravida arcu ac tortor dignissim convallis. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Lectus urna duis convallis convallis tellus id interdum velit laoreet. At imperdiet dui accumsan sit amet nulla. Integer quis auctor elit sed vulputate mi.
      </p>
    </div>

  </div>
</template>

<script>
export default {
  name: 'about',
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  /* desktop */
  @media screen and (min-width: 1024px) {
    .row {
      display: flex;
      justify-content: space-between;
    }

    .skill-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10%;
      transition: ease all .5s;
    }

    .column {
      display: block;
    }

    .column:first-child {
      width: 60%;
    }

    .column:last-child {
      width: 35%;
    }

    .profile-picture {
      border-radius: 2%;
      width: 100%;
      object-fit: cover;
    }
  }

  /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .row {
      display: flex;
      justify-content: space-between;
    }

    .skill-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10%;
      transition: ease all .5s;
    }

    .column {
      display: block;
    }

    .column:first-child {
      width: 60%;
    }

    .column:last-child {
      width: 35%;
    }

    .profile-picture {
      border-radius: 2%;
      width: 100%;
      object-fit: cover;
    }
  }

  /* mobile */
  @media screen and (max-width: 767px) {
    .row {
      display: block;
      justify-content: space-between;
    }

    .skill-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10%;
      transition: ease all .5s;
    }
    
    .column {
      display: block;
    }

    .column:first-child {
      width: 100%;
    }

    .column:last-child {
      width: 100%;
    }
   
    .profile-picture {
      border-radius: 2%;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .skillset {
    display: block;
    width: 100%;
  }

  ul {
    padding: 0 0 24px 0;
  }

  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    list-style-position: inside;
  }

  li:not(:last-child){
    padding-bottom: 5px;
  }

  .description {
    margin-bottom: 50px;
  }

</style>
