<template>
  <div>
    <div class="content-row">
      <h1>
        Portfolio
      </h1>
      <div class="project-cards">
        <portfolio-example v-for="project in projects" :key="project.title" :project = project></portfolio-example>
      </div>
    </div>
  </div>
</template>

<script>
import PortfolioExample from '../components/portfolioExample.vue'
export default {
  name: 'portfolio',
    data () {
    return {
      projects: [
        {
          'title': 'Example 1',
          'link': 'www.google.com',
          'image': 'https://i2.cdn.turner.com/money/dam/assets/150506112433-old-website-google-1024x640.png'
        },
        {
          'title': 'Example 2',
          'link': 'www.google.com',
          'image': 'https://media.nu.nl/m/m1mxg1daxdgd_sqr512.jpg'
        },
        {
          'title': 'Example 3',
          'link': 'www.google.com',
          'image': 'https://www.computable.nl/img/29/47/org_org/2947003.jpg'
        },
        
      ]
    }
  },
  props: {
  },
  components: {
    'portfolio-example': PortfolioExample
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .project-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
      transition: ease all .5s;

      margin: 50px 0;

      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 2px solid transparent;
    }
</style>
