<template>
  <div class="navbar">
    <div>
      <ul>

        <li>
          <router-link to="/about" v-bind:class="{'active-link': isAbout}">
            About
          </router-link>
        </li>

        <li>
          <router-link to="/portfolio" v-bind:class="{'active-link': isPortfolio}">
            Portfolio
          </router-link>
        </li>

      </ul>
    </div>

  </div>
</template>

<script>
export default {
  name: 'navbar',
  computed: {
    isAbout () {
      return this.$route.name === 'About'
    },
    isPortfolio () {
      return this.$route.name === 'Portfolio'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .navbar {
    display: flex;
    align-items: center;
    justify-content: right;

    position: fixed;
    top: 0;
    width: 100%;

    background-color: rgba(31,40,51,0.4);
    box-shadow: 0 10px 30px 1px #131313;

    padding: 24px 36px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .active-link {
    color: var(--secondary-1) !important;
  }

  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text-1);
  }

  a:visited {
    color: var(--text-1);
  }

  a:hover {
    color: var(--secondary-1);
    transition: 0.2s;
  }
  
  li {
    display: inline;
  }

  li:not(:first-child){
    padding-left: 20px;
  }
  
</style>
