<template>
  <div class="card" 
    v-bind:style="{ backgroundImage: 'linear-gradient(0deg, rgba(0,0,0,0.7819502801120448) 0%, rgba(17,17,30,0) 100%), url(' + project.image + ')' }">
    <div class="card-title">
      <h6>
        {{ project.title }}
      </h6>
    </div>
  </div>
</template>

<script>
export default {
  name: 'portfolioExample',
  computed: {
  },
  methods: {
    goToSite(projectUrl){
      window.location.href = projectUrl
    }
  },
  props: [
    'project'
  ]
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .card {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 600px;
    border-radius: 5px;
    width: 100%;
    
    box-shadow: 0 10px 30px 1px #131313;

    transition: 0.5s;
  }

  .card:hover {
    cursor: pointer;
    filter: brightness(120%);
    transition: 0.5s;
  }

  .card-title {
    display: flex;
    justify-content: center;
    width: 100%;

    position: absolute;
    bottom: 0;
  }
</style>
