<template>
  <div id="app">

    <div>
      <navbar></navbar>
    </div>

    <div class="container">
      <router-view></router-view>
    </div>

  </div>
</template>

<script>
import Navbar from './components/navbar.vue'
export default {
  name: 'App',
  components: {
    'navbar': Navbar
  }
}
</script>

<style>
  /* desktop */
  @media screen and (min-width: 1024px) {
    .container {
      padding: 200px 25%;
      transition: ease all .5s;
    }
  }

  /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      padding: 200px 20%;
      transition: ease all .5s;
    }
  }

  /* mobile */
  @media screen and (max-width: 767px) {
    .container {
      padding: 200px 10%;
      transition: ease all .5s;
    }
  }

</style>
